.toolBar__btnGroup__btn {
    display: flex;
    align-items: center;
    gap: 1ch;
    justify-content: center;

    &:hover {
        background-color: var(--colors-PrimaryBlueHover);
    }

    & svg {
        width: 1em;
    }
}

[data-carbon-inline-toolbar] {
    display: none;
    background: var(--colors-PrimaryBlue);
    position: relative;
}

.contextToolBar {
    position: absolute;
    right: 10px;
    top: -37px;
}

.contextToolbar__nodeLabel {
    display: flex;
    align-items: center;
    gap: 1ch;
    font-size: var(--fontSize-Small);

    &:has(~ :popover-open) {
        background-color: var(--colors-PrimaryBlueHover);
    }
}

.contextToolbar__nodeLabel span {
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.toolBar__contextMenuWrapper {
    position: relative;
    anchor-name: var(--carbon-SlideItemToolBar-anchor-name);
}

.toolBar__contextMenu {
    width: max-content;
    position-anchor: var(--carbon-SlideItemToolBar-anchor-name);
    right: anchor(right);
    top: anchor(bottom);
    left: auto;
    margin: 0;
    padding: 0;
    background-color: var(--colors-ContrastBrightest);
    border: 1px solid var(--colors-ContrastDark);
}

.toolBar__contextMenu button {
    justify-content: space-between;
    color: currentColor;
}
.toolBar__contextMenu button:hover {
    color: var(--colors-ContrastBrightest);
}
.toolBar__contextMenu button svg {
    color: currentColor;
}
